# 金融歷史資料套件應用

yahoo finance ：金融商品資料取得

安裝套件
```bash
pip install yfinance
```

In [2]:
# -*- coding: utf-8 -*-
# 載入套件
import yfinance as yf

# 商品名稱
prod = "^GSPC"

# 取得歷史資料
data = yf.download(prod, start="2023-12-01", end="2023-12-15")

# 取得全部資料
data = yf.download(prod, period="max")
data

[*********************100%%**********************]  1 of 1 completed

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1927-12-30,17.660000,17.660000,17.660000,17.660000,17.660000,0
1928-01-03,17.760000,17.760000,17.760000,17.760000,17.760000,0
1928-01-04,17.719999,17.719999,17.719999,17.719999,17.719999,0
1928-01-05,17.549999,17.549999,17.549999,17.549999,17.549999,0
1928-01-06,17.660000,17.660000,17.660000,17.660000,17.660000,0
...,...,...,...,...,...,...
2023-12-11,4593.390137,4623.709961,4593.390137,4622.439941,4622.439941,3823210000
2023-12-12,4618.299805,4643.930176,4608.089844,4643.700195,4643.700195,3808380000
2023-12-13,4646.200195,4709.689941,4643.229980,4707.089844,4707.089844,5063650000
2023-12-14,4721.040039,4738.569824,4694.339844,4719.549805,4719.549805,6314040000
2023-12-15,4714.229980,4725.529785,4704.689941,4719.189941,4719.189941,8218980000